<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta" style="text-align: center;">
      
      <b>Comment from {{user.email}} on {{format_date created_at}} at {{format_time created_at}}</b>
    </div>
    <div class="text" style="margin: 20px;">
      >{{comment_text}}
    </div>
  </section>
  {{/each}}
</div>