<div>
{{#each posts as |post|}} 

{{> post-info post }}   
</div>
{{!-- partial for all posts --}}
{{else}}
<h6 style="text-align: center;">There are no posts</h6>
{{/each}}
</div>



{{!-- <header><h1>Your Dashboard</h1></header> use for dashboard --}}


{{!-- use partial here with the length thing --}}



{{!-- button for adding stuff in --}}
{{!-- <div id="manipulate"> 
    <button type="button" class="btn btn-primary" id="maniputlate">+ New Post</button>
</div> --}}

