<main class=" text-center form-signin login-form">
        <form>
            <img class="mb-4" src="/assets/logo.png" alt="logo" width="320" height="180">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
            <div class="form-floating">
                <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
                <label for="email-login">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                <label for="password-login">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-form">Sign in</button>
            <p class="mt-5 mb-3 text-muted">IMAGine© 2021</p>
        </form>
    </main>


<script src="/js/login.js"></script>